
@import "sahara";
@import "reset";

html {
  font-size: 16px; // establish rem unit
}

body {
  font-family: 'Italianno', cursive;
  font-size: 2rem;
  background-color: #{$sand-2}50;
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  
  gap: 32px;
  padding: 32px;
  
}

.title {
  font-size: 6rem;
  margin: 0;
}

.colors {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.palette {
  display: flex;
}

.variant {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
