/*
https://coolors.co/a34617-bd5826-d17243-e6966e-fcbe9f
 */

$sun-0: #A34617;
$sun-1: #BD5826;
$sun-2: #D17243;
$sun-3: #E6966E;
$sun-4: #FCBE9F;

/*
https://coolors.co/997025-ad853b-cca55c-f2c879-ffe4b3
 */
$sand-0: #997025;
$sand-1: #AD853B;
$sand-2: #CCA55C;
$sand-3: #F2C879;
$sand-4: #FFE4B3;
/*
https://coolors.co/3c6396-4a7dba-72a4e0-b1d3fc-deedfc
 */
$sky-0: #3C6396;
$sky-1: #4A7DBA;
$sky-2: #72A4E0;
$sky-3: #B1D3FC;
$sky-4: #DEEDFC;
/*
https://coolors.co/6c7c82-81969c-b3c2c7-d3e0e6-e9f3f7
*/
$moon-0: #6C7C82;
$moon-1: #81969C;
$moon-2: #B3C2C7;
$moon-3: #D3E0E6;
$moon-4: #E9F3F7;
/*
https://coolors.co/263033-2d393d-3d4c52-4e6066-617075
 */
$space-0: #263033;
$space-1: #2D393D;
$space-2: #3D4C52;
$space-3: #4E6066;
$space-4: #617075;


$sahara: (
        "sun": (
                1: $sun-0,
                2: $sun-1,
                3: $sun-2,
                4: $sun-3,
                5: $sun-4,
        ),
        "sand": (
                1: $sand-0,
                2: $sand-1,
                3: $sand-2,
                4: $sand-3,
                5: $sand-4,
        ),
        "sky": (
                1: $sky-0,
                2: $sky-1,
                3: $sky-2,
                4: $sky-3,
                5: $sky-4,
        ),
        "moon": (
                1: $moon-0,
                2: $moon-1,
                3: $moon-2,
                4: $moon-3,
                5: $moon-4,
        ),
        "space": (
                1: $space-0,
                2: $space-1,
                3: $space-2,
                4: $space-3,
                5: $space-4,
        )
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}


:root {
  
  @each $palette in "sun", "sand", "sky", "moon", "space" {
    @each $variant in 1, 2, 3, 4, 5 {
      
      $color: map-deep-get($sahara, $palette, $variant);
      
      --#{$palette}-#{$variant}: #{$color};
      
    }
    
  }
}


@each $palette in "sun", "sand", "sky", "moon", "space" {
  @each $variant in 1, 2, 3, 4, 5 {
    
    $color: map-deep-get($sahara, $palette, $variant);
    
    .sahara-background-color-#{$palette}-#{$variant} {
      background-color: $color;
    }
    
    .sahara-color-#{$palette}-#{$variant} {
      color: $color;
    }
    
  }
  
}
