/*
https://coolors.co/a34617-bd5826-d17243-e6966e-fcbe9f
 */
/*
https://coolors.co/997025-ad853b-cca55c-f2c879-ffe4b3
 */
/*
https://coolors.co/3c6396-4a7dba-72a4e0-b1d3fc-deedfc
 */
/*
https://coolors.co/6c7c82-81969c-b3c2c7-d3e0e6-e9f3f7
*/
/*
https://coolors.co/263033-2d393d-3d4c52-4e6066-617075
 */
:root {
  --sun-1: #A34617;
  --sun-2: #BD5826;
  --sun-3: #D17243;
  --sun-4: #E6966E;
  --sun-5: #FCBE9F;
  --sand-1: #997025;
  --sand-2: #AD853B;
  --sand-3: #CCA55C;
  --sand-4: #F2C879;
  --sand-5: #FFE4B3;
  --sky-1: #3C6396;
  --sky-2: #4A7DBA;
  --sky-3: #72A4E0;
  --sky-4: #B1D3FC;
  --sky-5: #DEEDFC;
  --moon-1: #6C7C82;
  --moon-2: #81969C;
  --moon-3: #B3C2C7;
  --moon-4: #D3E0E6;
  --moon-5: #E9F3F7;
  --space-1: #263033;
  --space-2: #2D393D;
  --space-3: #3D4C52;
  --space-4: #4E6066;
  --space-5: #617075;
}

.sahara-background-color-sun-1 {
  background-color: #A34617;
}

.sahara-color-sun-1 {
  color: #A34617;
}

.sahara-background-color-sun-2 {
  background-color: #BD5826;
}

.sahara-color-sun-2 {
  color: #BD5826;
}

.sahara-background-color-sun-3 {
  background-color: #D17243;
}

.sahara-color-sun-3 {
  color: #D17243;
}

.sahara-background-color-sun-4 {
  background-color: #E6966E;
}

.sahara-color-sun-4 {
  color: #E6966E;
}

.sahara-background-color-sun-5 {
  background-color: #FCBE9F;
}

.sahara-color-sun-5 {
  color: #FCBE9F;
}

.sahara-background-color-sand-1 {
  background-color: #997025;
}

.sahara-color-sand-1 {
  color: #997025;
}

.sahara-background-color-sand-2 {
  background-color: #AD853B;
}

.sahara-color-sand-2 {
  color: #AD853B;
}

.sahara-background-color-sand-3 {
  background-color: #CCA55C;
}

.sahara-color-sand-3 {
  color: #CCA55C;
}

.sahara-background-color-sand-4 {
  background-color: #F2C879;
}

.sahara-color-sand-4 {
  color: #F2C879;
}

.sahara-background-color-sand-5 {
  background-color: #FFE4B3;
}

.sahara-color-sand-5 {
  color: #FFE4B3;
}

.sahara-background-color-sky-1 {
  background-color: #3C6396;
}

.sahara-color-sky-1 {
  color: #3C6396;
}

.sahara-background-color-sky-2 {
  background-color: #4A7DBA;
}

.sahara-color-sky-2 {
  color: #4A7DBA;
}

.sahara-background-color-sky-3 {
  background-color: #72A4E0;
}

.sahara-color-sky-3 {
  color: #72A4E0;
}

.sahara-background-color-sky-4 {
  background-color: #B1D3FC;
}

.sahara-color-sky-4 {
  color: #B1D3FC;
}

.sahara-background-color-sky-5 {
  background-color: #DEEDFC;
}

.sahara-color-sky-5 {
  color: #DEEDFC;
}

.sahara-background-color-moon-1 {
  background-color: #6C7C82;
}

.sahara-color-moon-1 {
  color: #6C7C82;
}

.sahara-background-color-moon-2 {
  background-color: #81969C;
}

.sahara-color-moon-2 {
  color: #81969C;
}

.sahara-background-color-moon-3 {
  background-color: #B3C2C7;
}

.sahara-color-moon-3 {
  color: #B3C2C7;
}

.sahara-background-color-moon-4 {
  background-color: #D3E0E6;
}

.sahara-color-moon-4 {
  color: #D3E0E6;
}

.sahara-background-color-moon-5 {
  background-color: #E9F3F7;
}

.sahara-color-moon-5 {
  color: #E9F3F7;
}

.sahara-background-color-space-1 {
  background-color: #263033;
}

.sahara-color-space-1 {
  color: #263033;
}

.sahara-background-color-space-2 {
  background-color: #2D393D;
}

.sahara-color-space-2 {
  color: #2D393D;
}

.sahara-background-color-space-3 {
  background-color: #3D4C52;
}

.sahara-color-space-3 {
  color: #3D4C52;
}

.sahara-background-color-space-4 {
  background-color: #4E6066;
}

.sahara-color-space-4 {
  color: #4E6066;
}

.sahara-background-color-space-5 {
  background-color: #617075;
}

.sahara-color-space-5 {
  color: #617075;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Italianno", cursive;
  font-size: 2rem;
  background-color: #CCA55C50;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  gap: 32px;
  padding: 32px;
}

.title {
  font-size: 6rem;
  margin: 0;
}

.colors {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.palette {
  display: flex;
}

.variant {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=landing.css.map */
